@font-face{
		font-family: 'fontBase';
		src: url('Font/Overlock-Black.ttf');
}

*{
	font-family: 'fontBase';
}

body{
	background-color: rgba(0,0,0,0.7);
}

.lbl{
	color: rgb(230,230,230);
	margin-left: 7px;
}
/* --------------------Contenedores--------------------*/

.Contenedor{
	background-color: rgba(0,0,0,0.7);
	margin: 3px 3px 0px 3px ;
	width: 100%;
	border-radius: 5px 5px 5px 5px;
}

#divicion1{
	height: 75px;
}

#divicion2{
	float: top;
	height: 35px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#contenedorCanvas{
	width: calc(70% - 6px);
	float: left;
	height: calc(100% - 110px);
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#superContenedor{

	margin:3px 3px 3px 3px;
	width: calc(65vw);
	height: calc(65vh);
}

#divicion3{
	float: left;
	height: calc(100% - 110px);
	width: 35px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 3px 0px 0px 0px ;
}

#divicion4{
	float: left;
	height: calc(100% - 110px);
	width: calc(30% - 41px);
}

/*-------------------- Encapsuladores --------------------*/

.Encapsulador{
	margin: 3px;
	background-color: rgba(150,150,150,0.4);
	border-radius: 10px;
	padding: 2px;
}

.Encapsulador2{
	margin: 0px 5px 5px 5px;
	padding: 3px;
	background-color: rgba(150,150,150,0.4);
	text-align: center;
	border-radius:10px;

}

.Encapsulador3{
	margin: 5px;
	padding: 5px;
	background-color: rgba(150,150,150,0.4);
	text-align: center;
	border-radius: 10px 10px 10px 10px ;
}

.Encapsulador4{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.Encapsulador5{
	margin: 5px;
	padding: 5px;
	background-color: rgba(150,150,150,0.4);
	border-radius: 10px 10px 10px 10px ;

}
.Encapsulador6{
	margin: 5px;
	padding: 5px;
	background-color: rgba(200,200,200,0.4);
	border-radius: 10px 10px 10px 10px ;

}

.canvasDatos{
	width: calc(25vw);
	height: calc(30vh);
	background-color: red;
	background-image: url("Multimedia/heat.jpeg");
}

.cuadroDatos{
	width: calc(25vw);
	height: calc(20vh);
	background-color: red;
}

#espacio{
	width: 100%;
	height: 1px;
}

/*--------------------- Sliders--------------------*/

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 15px;
  border-radius: 5px;
  background: #AAAAAA;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#tamanhoFigura{
	width: 20%;
}


/*-------------------- Bottones --------------------*/

.misBotones{
	background-color: rgb(200,200,200) /* Green */
	border: none;
	color: #555555;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	margin-left: 10px;
	border-radius: 5px 5px 5px 5px;
	margin: 0 auto;
}

.misBotones:hover {
  background-color: rgb(230,230,230); /* Gris Claro */
  color: #333333;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.misBotones:active {
  background-color: #555555;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
#btnSuperior{
	width: 15%;
}

#btnLateral{
	height: 15%;
}

.button {
  	background-color:rgba(0,0,0,0); /*#4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin:0px 10px 0px;
	border-radius: 4px 4px 4px 4px;
	height: 35px;
	width: 35px;
}

.button:hover {
  background-color: rgb(230,230,230); /* Green */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: #FFFFFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btnPausa{
	background-image:url("Multimedia/btn/pause.png");
	background-repeat:no-repeat;
	background-size: contain;
}
#btnStop{
	background-image:url("Multimedia/btn/stop-2.png");
	background-repeat:no-repeat;
	background-size: contain;
}

#btnReversa{

	background-image:url("Multimedia/btn/rewind.png");
	background-repeat:no-repeat;
	background-size: contain;

}

#btnLoop{
	background-image:url("Multimedia/btn/replay.png");
	background-repeat:no-repeat;
	background-size: contain;
}
#btnEscanor{
	background-image:url("Multimedia/btn/search.png");
	background-repeat:no-repeat;
	background-size: contain;

}

#btnBack{
	background-image:url("Multimedia/btn/back.png");
	background-repeat:no-repeat;
	background-size: contain;

}

#btnNext{
	background-image:url("Multimedia/btn/next.png");
	background-repeat:no-repeat;
	background-size: contain;

}

#btnSpeed{
	background-image:url("Multimedia/btn/fast-forward.png");
	background-repeat:no-repeat;
	background-size: contain;

}
/* -------------------- Imputs --------------------*/

#inEscanor{
	color: black;
	width: 70%;
	margin-left: 2px;
}
/*-------------------- Selector --------------------*/
.selectorClass{
	margin-left: 15px;
	width: 150px;
	background-color:rgb(200,200,200);
  	border: none;
  	color: rgb(50,50,50);
  	padding: 5px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 100px 10px 100px 5px;
}
.selectorClass:hover {
  background-color: #FFFFFF; /* Green */
  color: #555555;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.svgSearches {
	background-color: #AAAAAA;
	width: 100%;
	height: 100%
}
